@import '../../../scss/style';

#containerUserType{

    justify-content: center;

  .auth-form-input{
      width:80%;
  }
  .btn-submit-register{
    width:80%;
    margin-bottom:20px;
    margin-top:20px;
  }
  .form-container{
     margin-left:15%;
  }
  .card-item{
      margin-top:100px;
  }
  .loginCredentialsInfo{
      font-weight: bolder;
      color:$error-message-color;
  }
  .sign-color-change{
    color: $error-message-color;
    font-weight: bolder;
    cursor:pointer;
  }
  .error_form_response{
    color:$error-message-color;
    font-weight: bolder;
    width: 100%;

  }

  .success_form_response{
    color:$success-message-color;
    font-weight: bolder;
    width: 100%;

  }
  .responseContentDiv{
    width:80%;

  }
  .loading-text{
    font-weight: bolder;
    width: 100%;
  }

}

